In [33]:
import osmnx as ox
import pandas as pd 
import geopy 
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import pandas as pd
import geopandas as gpd

In [26]:
print("Hello")

Hello

In [105]:
def nearest_pp_distance(address):
    
    conn_string = 'postgresql://hravat:hravat@localhost:5432/prod_de_db'
    engine = create_engine(conn_string)
    conn = engine.connect()
    
    table_name = 'prod_petrol_pump_locations.pump_locations'
    gdf = gpd.read_postgis(f'SELECT brand,name,geometry as geom FROM {table_name}', engine)
    gdf['geom'] = gdf.geometry.centroid
    
    conn.close()
    
    latitude,longitude = ox.geocode(address)
        
    def  dist_compute(latitude_1,longitude_1,row):
        #print(row.x)
        #print(row.y)
        return geopy.distance.distance((latitude_1,longitude_1),(row.y,row.x))
    
    #gdf.set_crs(epsg=4326, inplace=True)
    gdf['distance'] = gdf['geom'].apply(lambda row: dist_compute(latitude,longitude,row))
    gdf = gdf.sort_values(by=['distance'])
    gdf.drop(columns=['geom','distance'],inplace=True)
    
    return gdf,latitude,longitude

In [106]:
gdf,latitude,longitude  = nearest_pp_distance('74 A Ensign Street Christchurch')
print(latitude)
print(longitude)
gdf.head()

-43.5719351
172.5702671

/tmp/ipykernel_33380/813027016.py:9: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  gdf['geom'] = gdf.geometry.centroid

,brand,name,geom,distance
52,BP,BP,POINT (172.57074 -43.57209),0.04195367358089012 km
32,BP,BP Petrol Station Halswell Road,POINT (172.57096 -43.57183),0.05728299150432868 km
65,Challenge,Challenge Halswell Service Station,POINT (172.56924 -43.58246),1.172786805715678 km
70,Gull,Gull Awatea,POINT (172.54876 -43.56040),2.1590701657392546 km
56,npd,npd,POINT (172.56131 -43.54671),2.8942388160543686 km

In [29]:
# Define the city name
city = "Christchurch, New Zealand"
tags = {'building':True}

In [ ]:
# Get all the amenities in the city
amenities =  pd.DataFrame(ox.features.features_from_place(query=city,tags=tags))

In [ ]:
amenities.head()

                         amenity female wheelchair  \
element_type osmid
node         354811499       NaN    NaN        NaN
             390662222   shelter    NaN        NaN
             659676992   shelter    NaN        NaN
             659676993   shelter    NaN        NaN
             1519157549      NaN    NaN        NaN

                                            geometry building historic  \
element_type osmid
node         354811499   POINT (172.79165 -43.59171)   bunker    ruins
             390662222   POINT (172.64357 -43.58926)      yes      NaN
             659676992   POINT (172.66202 -43.58143)      yes      NaN
             659676993   POINT (172.66583 -43.57605)      yes      NaN
             1519157549  POINT (172.61432 -43.54025)   office      NaN

                                                 name bench  bin  \
element_type osmid
node         354811499   Battery Observation Post III   NaN  NaN
             390662222                            NaN   NaN  NaN
             659676992                            NaN   yes   no
             659676993                            NaN   NaN  NaN
             1519157549                      Seequent   NaN  NaN

                            shelter_type  ... highchair residential  \
element_type osmid                        ...
node         354811499               NaN  ...       NaN         NaN
             390662222               NaN  ...       NaN         NaN
             659676992   weather_shelter  ...       NaN         NaN
             659676993               NaN  ...       NaN         NaN
             1519157549              NaN  ...       NaN         NaN

                        street_vendor pipeline substance ways type origin  \
element_type osmid
node         354811499            NaN      NaN       NaN  NaN  NaN    NaN
             390662222            NaN      NaN       NaN  NaN  NaN    NaN
             659676992            NaN      NaN       NaN  NaN  NaN    NaN
             659676993            NaN      NaN       NaN  NaN  NaN    NaN
             1519157549           NaN      NaN       NaN  NaN  NaN    NaN

                        restaurant max_level
element_type osmid
node         354811499         NaN       NaN
             390662222         NaN       NaN
             659676992         NaN       NaN
             659676993         NaN       NaN
             1519157549        NaN       NaN

[5 rows x 389 columns]

In [12]:
# Specify the address
address = "100 Fitzgerald Avenue Christchurch New Zealand"

# Get the latitude and longitude coordinates
location = ox.geocode(address)

# Print the latitude and longitude
print("Latitude:", location[0])
print("Longitude:", location[1])

Latitude: -43.5341141
Longitude: 172.6518252456334

In [7]:
osm_id = ox.utils_geo.get_nearest_node(ox.graph_from_point(location, dist=100), location)
print("OSM ID:", osm_id)

AttributeError: module 'osmnx.utils_geo' has no attribute 'get_nearest_node'

: